<%= link_to business_asset_path(business_asset) do %>
  <div class="infowindow">
    <div class="infowindow_image">
      <%= cl_image_tag business_asset.attachments.where(attachment_type: 'photo').first.file, width: 230, crop: :fit, class: "d-block w-30", alt:"Google view" %>
    </div>
    <div class="infowindow_address">
      <p><strong> <%= business_asset.geographical_location.address %></strong></p>
    </div>
    <div class="infowindow_surface">
      <% if business_asset.surface %>
        <p>Surface: <%= format_number(business_asset.surface, currency_symbol: false) %>m²</p>
        <% else %>
        <p></p>
      <% end %>
    </div>
    <div class=infowindow_price>
      <% unless business_asset.transactions.empty? %>
          <p><%= format_number(business_asset.transactions.first.price) %></p>
        <% else %>
        <p></p>
      <% end %>
    </div>
  </div>
<% end %>
