<div class= "container" >
  <div class="col-xs-12 col-sm-12">
    <div class="hr">
      <%= form_tag dashboard_path, method: :get do |f| %>
        <label> Select Owner :</label>
        <%= select_tag "option", options_from_collection_for_select(@buyers_unique, "name", "name", @buyer.name) %>
      <% end %>
    </div>
  </div>

  <div class="dashboard-white-box" style="width: 400; height: 400;">
    <%= render 'dash_valueperyear' %>
  </div>

  <div class="dashboard-white-box">
    <div class="row main-info">
      <div class="col-xs-12 col-sm-4 green_box">
         <p>Total Surface</p>
          <%  surface = 0 %>
          <% @business_assets.each do |ba| %>
            <%  surface += ba.surface %>
          <% end %>
          <p> <%= format_number(surface, currency_symbol: false) %> m² </p>
      </div>
        <div class="col-xs-12 col-sm-4 green_box">
         <p>Total Rent </p>
          <% total_rent = 0 %>
          <% @business_assets.each do |ba| %>
            <% ba.rentals.each do |r| %>
              <% total_rent += r.annual_rent %>
            <% end %>
          <% end %>
          <p><%= format_number(total_rent) %></p>
        </div>
        <div class="col-xs-12 col-sm-4 green_box">
          <p>Total Buying price</p>
          <% total_price = 0 %>
          <% @business_assets.each do |ba| %>
            <% ba.transactions.each do |t| %>
              <% total_price += t.price %>
            <% end %>
          <% end %>
          <p><%= format_number(total_price) %></p>
        </div>
        <div class="col-xs-12 col-sm-4 green_box">
          <p>Average yield</p>
          <p><%= ((total_rent / total_price) * 100).round(2) %> %</p>
        </div>
      </div>

        <table class="tableau">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Address</th>
              <th scope="col">Surface</th>
              <th scope="col">Annual Rent</th>
              <th scope="col">Annual Rent /m² </th>
              <th scope="col">Price</th>
              <th scope="col">Yield</th>

            </tr>
          </thead>
          <tbody>
            <% @business_assets.each do |ba| %>
            <tr>
              <th scope="row"><%= ba.geographical_location.address.split(',')[1].downcase.capitalize() %></th>
              <% if ba.surface %>
                <td><%= format_number(ba.surface, currency_symbol: false) %> m²</td>
              <% end %>
              <% if ba.rentals.last %>
                <td><%= format_number(ba.rentals.last.annual_rent) %></td>
              <% end %>
              <% if ba.rentals.last %>
                <td><%= format_number((ba.rentals.last.annual_rent / ba.surface)) %></td>
              <% end %>
              <% if ba.transactions %>
                <td><%= format_number(ba.transactions.last.price) %></td>
              <% end %>
              <% if ba.rentals.last %>
                <td><%=  ((ba.rentals.last.annual_rent / ba.transactions.last.price) * 100).round(2) %> %</td>
              <% end %>
            </tr>
            <% end %>

          </tbody>
        </table>

  </div>

  <div class= "dashboard-white-box-2" >
    <h3> Localisation </h3>
      <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        style="height: 400px"
      ></div>
  </div>
</div>
