<div class= "container" >
  <div class="col-xs-12 col-sm-12">
    <div class="hr">
      <%= form_tag dashboard_path, method: :get do |f| %>
        <label> Select Owner :</label>
        <%= select_tag "option", options_from_collection_for_select(@buyers_unique, "name", "name", @buyer.name) %>
      <% end %>
    </div>
  </div>

  <div class="dashboard-white-box">
    <div class="row main-info">
      <div class="col-xs-12 col-sm-4 green_box">
          <%  surface = 0 %>
          <% @business_assets.each do |ba| %>
            <%  surface += ba.surface %>
          <% end %>
          <h5> <%= format_number(surface, currency_symbol: false) %> m² </h5>
          <p>Total Surface</p>
      </div>
      <div class="col-xs-12 col-sm-4 green_box">
        <% total_rent = 0 %>
        <% @business_assets.each do |ba| %>
          <% ba.rentals.each do |r| %>
            <% total_rent += r.annual_rent %>
          <% end %>
        <% end %>
        <h5><%= format_number(total_rent) %></h5>
        <p>Total Rent </p>
      </div>
      <div class="col-xs-12 col-sm-4 green_box">
        <% total_price = 0 %>
        <% @business_assets.each do |ba| %>
          <% ba.transactions.each do |t| %>
            <% total_price += t.price %>
          <% end %>
        <% end %>
        <h5><%= format_number(total_price) %></h5>
        <p>Total Buying price</p>
      </div>
      <div class="col-xs-12 col-sm-4 green_box">
        <h5><%= ((total_rent / total_price) * 100).round(2) %> %</h5>
        <p>Average yield</p>
      </div>
    </div>
  </div>

  <div style="display: flex;">
    <div class="dashboard-white-box" style="position: relative; width:55vw">
      <h3>Evolution of revenues from rentals (k€ / year)</h3>
      <%= render 'dash_valueperyear' %>
    </div>
    <div class="dashboard-white-box" style="position: relative; width:45vw">
      <h3>Revenues by asset type (k€ / year)</h3>
      <%= render 'dash_qpercat' %>
    </div>
  </div>

  <div style="display: flex;">
    <div class="dashboard-white-box" style="position: relative; width:40vw">
      <h3>Revenues by asset (k€ / year)</h3>
      <%= render 'dash_priceperasset' %>
    </div>
    <div class="dashboard-white-box" style="position: relative; width:60vw">
      <h3>Lease to renew : prioritization matrix</h3>
      <%= render 'dash_bubble' %>
    </div>
  </div>

  <div class= "dashboard-white-box-2" >
    <h3> Localisation </h3>
      <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        style="height: 400px"
      ></div>
  </div>

  <div class="dashboard-white-box">
    <table class="tableau">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Address</th>
          <th scope="col">Surface</th>
          <th scope="col">Annual Rent</th>
          <th scope="col">Annual Rent /m² </th>
          <th scope="col">Price</th>
          <th scope="col">Yield</th>
        </tr>
      </thead>
      <tbody>
        <% @business_assets.each do |ba| %>
          <tr>
            <th scope="row"><%= ba.geographical_location.address.split(',')[1].downcase.capitalize() %></th>
            <% if ba.surface %>
              <td><%= format_number(ba.surface, currency_symbol: false) %> m²</td>
            <% end %>
            <% if ba.rentals.last %>
              <td><%= format_number(ba.rentals.last.annual_rent) %></td>
            <% end %>
            <% if ba.rentals.last %>
              <td><%= format_number((ba.rentals.last.annual_rent / ba.surface)) %></td>
            <% end %>
            <% if ba.transactions %>
              <td><%= format_number(ba.transactions.last.price) %></td>
            <% end %>
            <% if ba.rentals.last %>
              <td><%=  ((ba.rentals.last.annual_rent / ba.transactions.last.price) * 100).round(2) %> %</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
