

<div class="index-container">
  <div class="left-container">
    <%= render 'shared/navbar-short' %>
    <%= simple_form_for :search, url: search_business_assets_path, html: {method: :get, class: "search_form"}, remote: true do |f| %>
    <div class="index-banner">
      <%= render 'business_assets/search/search_bar', f:f   %>
    </div>
    <% end %>

    <div class="main-container" id="main-display">
      <%= render 'cards', business_assets: @business_assets  %>
    </div>
  </div>

  <div class="right-container">
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>
</div>
