<div class= "container" >
  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <div class= "white-box height-line-1" >
        <h3> Descriptif </h3>
        <p> <strong> Address :</strong> <%= @business_asset.geographical_location.address %></p>
        <p> <strong> Construction Year :</strong> <%= @business_asset.construction_year %></p>
        <p> <strong> Asset Type :</strong> <%= @business_asset.asset_type %></p>
        <p> <strong> Surface :</strong> <%= @business_asset.surface %> m2</p>
        <p> <strong> Land Surface :</strong> <%= @business_asset.land_surface %></p>
        <p> <strong> General Condition :</strong> <%= @business_asset.general_condition %></p>
        <p> <strong> Description :</strong> <%= @business_asset.description %></p>
        <p> <strong> Height :</strong> <%= @business_asset.height %></p>
        <p> <strong> Office Area Share : </strong>  <%= @business_asset.office_area_share %> %</p>
        <p> <strong> Occupancy Rate : </strong> <%= @business_asset.occupancy_rate %> %</p>
        <p> <% if @business_asset.has_icpe %>
           <i class="far fa-check-square"></i> <strong>Has ICPE</strong>
          <% else %>
           <i class="far fa-square"></i> <strong>Has ICPE</strong>
          <% end %> </p>
        </div>
      </div>

    <div class="col-xs-12 col-sm-6">
      <div class= "white-box height-line-1" >
        <%= image_tag "Lynx.jpg", class: "lynx" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12">
      <div class= "white-box" >
        <h3> Localisation </h3>
      </div>
    </div>


     <div class="col-xs-12 col-sm-12">
      <div class= "white-box" >
        <h3> Rentals </h3>
         <table>
          <% @business_asset.rentals.each do |r| %>
            <tr>
              <th>Tenant</th>
              <th>Rent(y)</th>
              <th>Rent(y)/m2</th>
              <th>Entry</th>
              <th>Brk 1</th>
              <th>Brk 2</th>
              <th>Brk 3</th>
            </tr>
            <tr>
              <td><%= r.tenant.name %></td>
              <td><%= r.annual_rent %></td>
              <td><%= r.annual_rent_sqm %></td>
              <td><%= r.start_date.strftime('%b-%Y') %></td>
              <td><%= r.break_date_1.strftime('%b-%Y') %></td>
              <td><%= r.break_date_2.strftime('%b-%Y') %></td>
              <td><%= r.break_date_3.strftime('%b-%Y') %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 ">
      <div class="white-box">
        <h3> Last Transactions </h3>
        <table>
          <% @business_asset.transactions.each do |t| %>
            <tr>
              <th>Buyer</th>
              <th>Seller</th>
              <th>Date</th>
              <th>Price (M€)</th>
            </tr>
            <tr>
              <td><%= t.buyer.name %></td>
              <td><%= t.seller.name %></td>
              <td><%= t.date.strftime('%b-%Y') %></td>
              <td><%= t.price %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class= "white-box" >
        <h3> Data-room </h3>
        <ul class="list-inline doc-attachment">
          <% @business_asset.attachments.each do |a| %>
            <li><%= link_to a.attachment_type, a.url %>  </li>
          <% end %>
        </ul>
      </div>
    </div>


   </div>
</div>

