<div class="show-container">
  <div class="left-container">
    <%= render 'shared/navbar-short' %>
    <div class="index-banner">
      <div class="show-buttons">

        <button class="btn-filter btn-show" id="btn-asset-category">Edit</button>
        <%= link_to "Compare", compare_path(@business_asset.last_transaction), class: "btn-filter btn-show" %>
        <button class="btn-filter btn-show" id="btn-asset-category">Delete</button>


      </div>
    </div>

    <div class="main-container" id="main-display">
      <%= render 'show_card', business_asset: @business_asset  %>
    </div>
  </div>

  <div class="right-container" id="card-display">
    <div class="right-box">


      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <% @carroussel.each_with_index do |att, index| %>
            <% if index == 0  %>
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <% else %>
              <li data-target="#carousel-example-generic" data-slide-to="<% index %>""></li>
            <% end %>
          <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% @carroussel.each_with_index do |att, index| %>
            <% if index == 0  %>
              <div class="item active">
                <%= cl_image_tag att.file, crop: :fill, :format => :png %>
              </div>
            <% else %>
              <div class="item">
                <%= cl_image_tag att.file, crop: :fill, :format => :png %>
              </div>
            <% end %>
          <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>



    </div>
    <div class="right-box">
      <div
        id="map"
        class="show-map"
        data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
  </div>


</div>
