<div class= "container" >
  <div class= "flex-boxe" >
    <div class= "white-box" >
      <h3><%= @business_asset.construction_year %></h3>
      <h3><%= @business_asset.asset_type %></h3>
      <h3><%= @business_asset.surface %></h3>
      <h3><%= @business_asset.land_surface %></h3>
      <h3><%= @business_asset.general_condition %></h3>
      <h3><%= @business_asset.description %></h3>
      <h3><%= @business_asset.height %></h3>
      <h3><%= @business_asset.office_area_share %></h3>
      <h3><%= @business_asset.occupancy_rate %></h3>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheckDisabled" disabled>
        <label class="custom-control-label" for="customCheckDisabled">ICPE</label>
      </div>
    </div>
  </div>
</div>



