<% content_for :navbar_links do %>
  <div class= "navbar-taz-left">
    <%= link_to "Edit", edit_business_asset_path, class: "navbar-taz-item navbar-taz-link navbar-title " %>
    <%= link_to "Compare", compare_path, class: "navbar-taz-item navbar-taz-link navbar-title " %>
  </div>
<% end %>

<div class= "container" >
  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <div class= "white-box height-line-1" >
        <h3> Descriptif </h3>
        <p> <strong> Address :</strong> <%= @business_asset.geographical_location.address %></p>
        <p> <strong> Construction Year :</strong> <%= @business_asset.construction_year %></p>
        <p> <strong> Asset Type :</strong> <%= @business_asset.asset_type %></p>
        <p> <strong> Surface :</strong> <%= @business_asset.surface.nil? ? "-" : format_number(@business_asset.surface, currency_symbol: false) %> m2</p>
        <p> <strong> Land Surface :</strong> <%= @business_asset.land_surface.nil? ? "-" : format_number(@business_asset.land_surface.round, currency_symbol: false) %>m2</p>
        <p> <strong> General Condition :</strong> <%= @business_asset.general_condition %></p>
        <p> <strong> Description :</strong> <%= @business_asset.description %></p>
        <p> <strong> Height :</strong> <%= @business_asset.height %></p>
        <p> <strong> Office Area Share : </strong>  <%= @business_asset.office_area_share %> %</p>
        <p> <strong> Occupancy Rate : </strong> <%= @business_asset.occupancy_rate %> %</p>
        <p> <% if @business_asset.has_icpe %>
           <i class="far fa-check-square"></i> <strong>is ICPE</strong>
          <% else %>
           <i class="far fa-square"></i> <strong>is ICPE</strong>
          <% end %> </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class= "white-box height-line-1" >
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <% @business_asset.attachments.each_with_index do |a,i| %>
                <% if a.attachment_type == "photo"  %>
                    <li data-target="#carouselExampleIndicators" data-slide-to=<%=i%>></li>
                <% end %>
              <% end %>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=40.720032,-73.988354&fov=90&heading=235&pitch=10&key=AIzaSyCQrDsCgu8H5meufFGKqNgMrSdH1zbXo0E" class="d-block w-100" alt="First image">
            </div>
            <div class="carousel-item">
              <% @business_asset.attachments.each do |a| %>
                <% if a.attachment_type == "photo"  %>
                  <%= cl_image_tag a.attachment.file, crop: :fit, class: "d-block w-100", alt:"Second image" %>
                <% end %>
              <% end %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12">
      <div class= "white-box" >
        <h3> Localisation </h3>
        <div
          id="map"
          data-markers="<%= @markers.to_json %>"
          style="height: 400px"
        ></div>
      </div>
    </div>


     <div class="col-xs-12 col-sm-12">
      <div class= "white-box" >
        <h3> Rentals </h3>
         <table>
          <% @business_asset.rentals.each do |r| %>
            <tr>
              <th>Tenant</th>
              <th>Rent(y)</th>
              <th>Rent(y)/m2</th>
              <th>Entry</th>
              <th>Brk 1</th>
              <th>Brk 2</th>
              <th>Brk 3</th>
            </tr>
            <tr>
              <td><%= r.tenant.name %></td>
              <td><%= format_number(r.annual_rent) %></td>
              <td><%= format_number(r.annual_rent_sqm) %></td>
              <td><%= r.start_date.nil? ? "-" : r.start_date.strftime('%b-%y') %> </td>
              <td><%= r.break_date_1.nil? ? "-" : r.break_date_1.strftime('%b-%y') %> </td>
              <td><%= r.break_date_2.nil? ? "-" : r.break_date_1.strftime('%b-%y') %> </td>
              <td><%= r.break_date_3.nil? ? "-" : r.break_date_1.strftime('%b-%y') %> </td>

            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 ">
      <div class="white-box">
        <h3> Last Transactions </h3>
        <table>
          <% @business_asset.transactions.each do |t| %>
            <tr>
              <th>Buyer</th>
              <th>Seller</th>
              <th>Date</th>
              <th>Price (M€)</th>
            </tr>
            <tr>
              <td><%= t.buyer.name %></td>
              <td><%= t.seller.name %></td>
              <td><%= t.date.nil? ? "-" : t.date.strftime('%b-%y') %> </td>
              <td><%= format_number(t.price) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class= "white-box" >
        <h3> Data-room </h3>
        <ul class="list-inline doc-attachment">
          <% @business_asset.attachments.each do |a| %>
            <li><%= link_to a.attachment_type, a.url %>  </li>
          <% end %>
        </ul>
      </div>
    </div>

   </div>
</div>
