<%= link_to business_asset_path(business_asset) do %>
  <div class="card2">
    <div class="card2-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path business_asset.attachments.where(attachment_type: 'photo').first.file%>);">
      <div class="card2-asset-type">
        <%= business_asset.asset_type %>
      </div>
      <div class="price">
      <% unless business_asset.transactions.empty? %>
        <h2><%= format_number(business_asset.transactions.first.price) %></h2>
      </div>
    </div>
    <div class="card2-info">
      <div class="card2-info-address">
        <p>Address</p>
        <% if business_asset.geographical_location.address %>
          <h2><%= business_asset.geographical_location.address %></h2>
        <% else %>
          <p>No address</p>
        <% end %>
      </div>
      <div class="card2-other-info">
        <div class="surface-yield">
          <div class="surface">
            <p>Surface</p>
            <% if business_asset.surface %>
              <h2><%= format_number(business_asset.surface, currency_symbol: false) %>m²</h2>
            <% else %>
              <p>No surface</p>
            <% end %>
          </div>
          <div class="yield">
            <p style="margin-right: 15px"> Yield</p>
            <% business_asset.rentals.each do |r| %>
              <% if r.annual_rent != 0 && business_asset.transactions.first.price != 0 %>
                <h2><%= ((r.annual_rent / business_asset.transactions.first.price) * 100).round(2) %>%</h2>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
  <% end %>
<% end %>
