<%= link_to business_asset_path(business_asset) do %>
<div class="card">
  <div class="card-main" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path business_asset.attachments.where(attachment_type: 'photo').first.file%>);">
  </div>


    <div class="asset-category"><%= business_asset.asset_type %></div>
  <div class="card-information">
    <div class="first-line">
      <div class="address">
        <% if business_asset.geographical_location.address %>
          <% address = business_asset.geographical_location.address.length > 28 ? "#{business_asset.geographical_location.address[0..28]}..." : business_asset.geographical_location.address %>
          <p><%= address %></p>
          <% else %>
          <p>No Address</p>
        <% end %>
      </div>
      <div class="occupancy">
        <% if business_asset.occupancy_rate %>
          <% if  %>
            <% business_asset.occupancy_rate > 0.8 || business_asset.occupancy_rate == nil %>
            <i class="fas fa-circle" style="color: green"></i>
            <% else %>
              <i class="fas fa-circle" style="color: red"></i>
          <% end %>
          <% else %>
          <p>no data</p>
        <% end %>
      </div>
    </div>
    <div class="rental-info">
      <div class="surface">
        <% if business_asset.surface %>
          <p><strong>Surface: <%= format_number(business_asset.surface, currency_symbol: false) %>m²</strong></p>
          <% else %>
          <p>no surface</p>
        <% end %>

      </div>
      <div class="rent">
        <% if business_asset.transactions.first.price != 0 %>
            <p><%= format_number(business_asset.transactions.first.price) %></p>
          <% else %>
          <p>-</p>
        <% end %>
      </div>
    </div>
    <div class="profitability">
      <p><% business_asset.rentals.each do |r| %>
        <% if r.annual_rent != 0 && business_asset.transactions.first.price != 0 %>
          <p>Profitability: <%= (r.annual_rent / business_asset.transactions.first.price).round(2) * 100 %>%</p>
          <% else %>
          <p>Profitability: na</p>
        <% end %>
        <% end %>
      </div>
  </div>
</div>
<% end %>
