<%= link_to business_asset_path(business_asset), class:"cards-links" do %>
  <div class="card2">
    <div class="card2-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path business_asset.attachments.where(attachment_type: 'photo').first.file%>);">
        <% if business_asset.asset_type == "Housing" %>
          <% card_color=  "#167AB2"  %>
        <% elsif business_asset.asset_type == "Office" %>
          <% card_color=  "#a43a2C"  %>
        <% elsif business_asset.asset_type == "Light Industrial" %>
          <% card_color=  "#4B6A69"  %>
        <% elsif business_asset.asset_type == "Retail" %>
          <% card_color=  "#F7C259"  %>
        <% else %>
          <% card_color=  "#a43a2C"  %>
        <% end %>
      <div class="card2-asset-type" style= "background-color: <%= card_color  %>;">
        <%= business_asset.asset_type %>
      </div>
      <div class="price">
      <% unless business_asset.transactions.empty? %>
        <h2><%= format_number(business_asset.transactions.first.price) %></h2>
      <% end %>
      </div>
    </div>
    <div class="card2-info">
      <div class="card2-info-address">
        <% if business_asset.geographical_location.address %>
          <h2><%= business_asset.geographical_location.address %></h2>
        <% else %>
          <p>No address</p>
        <% end %>
      </div>
      <div class="card2-other-info">
        <div class="surface-yield">
          <div class="card-surface">
            <p>Surface</p>
            <% if business_asset.surface %>
              <h2><%= format_number(business_asset.surface, currency_symbol: false) %>m²</h2>
            <% else %>
              <p>No surface</p>
            <% end %>
          </div>
          <div class="card-surface">
            <p> Yield</p>
            <% business_asset.rentals.each do |r| %>
              <% unless business_asset.transactions.empty? %>
                <% if r.annual_rent != 0 && business_asset.transactions.first.price != 0 %>
                  <h2><%= ((r.annual_rent / business_asset.transactions.first.price) * 100).round(2) %>%</h2>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
<% end %>
