<div class="navbar-taz navbar-fixed-top navbar-taz-white">
  <!-- Logo -->
  <%= link_to business_assets_path, class: "navbar-taz-brand" do %>
    <%= image_tag "logo.svg", height: 50 %>
  <% end %>

  <!-- Left Navigation in asset show -->
  <%= yield :navbar_links %>

  <!-- Right Navigation -->
  <div class="navbar-taz-right hidden-xs hidden-sm">

    <!-- Links -->
    <%= link_to "Home", business_assets_path, class: "navbar-taz-item navbar-taz-link navbar-title" %>
    <%= link_to "Add Asset", new_business_asset_path, class: "navbar-taz-item navbar-taz-link navbar-title" %>
    <%= link_to "Dashboard", dashboard_path, class: "navbar-taz-item navbar-taz-link navbar-title" %>
    <% if user_signed_in? %>
      <div class="navbar-taz-item">
        <div class="dropdown">
          <%= image_tag "admin_avatar.png", class: "main-avatar dropdown-toggle", id: "navbar-taz-menu", "data-toggle" => "dropdown", title: current_user.email %>
          <ul class="dropdown-menu dropdown-menu-right navbar-taz-dropdown-menu">
            <li>
              <%= link_to business_assets_path do %>
                <i class="fa fa-user"></i> Profile
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-taz-item navbar-taz-link navbar-title" %>
    <% end %>
  </div>
</div>
