

<div class="tr-card2 checkbox_equiped">
  <div class="tr-card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path comparable.business_asset.attachments.where(attachment_type: 'photo').first.file%>);">
    <div class="tr-card2-asset-type">
      <%= image_tag("#{comparable.business_asset.asset_type.downcase.delete(' ')}.png")%>
    </div>
  </div>
  <div class="tr-card2-middle">
    <div class="tr-card2-middle-address">
      <h5> <%= comparable.business_asset.geographical_location.address %></h5>
    </div>
    <div class="tr-card2-middle-down">
      <div class="tr-card2-middle-surface">
        <h5> <%= format_number(comparable.business_asset.surface, currency_symbol: false) %> m²</h5>
      </div>
      <div class="tr-card2-middle-price">
        <h5><%= format_number(comparable.price) %></h5>
      </div>
    </div>
  </div>
  <div class="tr-card2-right">
    <div class="tr-card2-yield">
      <% rental = comparable.business_asset.rentals
                    .select { |r| !r.end_date || (r.start_date <= Date.today && Date.today <= r.end_date) }
                    .first %>
      <h5><%= rental ? (100 * (rental.annual_rent + 0.0) / comparable.price).round(1) : 0 %> %</h5>
    </div>
    <div class="checkbox_c" data-id="<%= comparable.id %>"><%= check_box_tag('', '1', key_comparable) %></div>

  </div>
</div>
