<div class="tr-card">
  <div class="tr-card-picture">
    <img alt="Photo" src="/assets/images/logo.jpg" />
  </div>
  <div class="tr-card-info">
    <div class="tr-card-type">
      <%= comparable.business_asset.asset_type %>
    </div>
    <div class="tr-card-address">
      <%= comparable.business_asset.geographical_location.address %>
    </div>
    <ul class="tr-card-feature-list">
      <li><%= comparable.price %> €</li>
      <li><%= comparable.business_asset.surface %> m2</li>
    </ul>
  </div>
  <div class="tr-card-return">
    <% rental = comparable.business_asset.rentals
                    .select { |r| !r.end_date || (r.start_date <= Date.today && Date.today <= r.end_date) }
                    .first %>
    <p><%= rental ? (100 * (rental.annual_rent + 0.0) / comparable.price).round(1) : 0 %> %</p>
  </div>
</div>
