<div class="container">
  <div class="container--row">
    <%= render 'card_transaction' %>
  </div>
  <div class="container--row" id='ai-estimate'>
    <%= render 'estimate' %>
  </div>
  <div class="container--row">
    <div class="comps-container">
      <div class="comparable-list">
        <div id='first-tr'><%= render 'card_transaction' %></div>
        <% @comparables.each do |comparable| %>
          <%= render 'comparable_transactions', comparable: comparable, key_comparable: @key_comparables.include?(comparable) %>
        <% end %>
      </div>
      <div class="comparable-map">
        <div
          id="map"
          class="comparison-map"
          data-markers="<%= @markers.to_json %>"
        ></div>
      </div>
    </div>
  </div>
</div>
